#reactApp {
    max-width: 850px;
    margin: 0 auto;
}

nav {
    padding: 20px 0 20px 0;
}

.add-course a {
    color: white;
}

.add-course a:link {
    text-decoration: none;
}

.add-course a:hover {
    text-decoration: none;
}